.dashboard-exam {
    width: auto;
    height: 100vh;
    max-height: 100vh;

    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sections-exam {
    width: 100%;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex: 1;
}

.empty {
    display: none;
}

.creation-view-container-active {
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}

@media screen and (max-width: 767px) {
    .dashboard-exam {
        height: auto;
        padding: 10px 10px;
        row-gap: 10px;
    }

    .sections-exam {
        flex-direction: column-reverse;
        row-gap: 10px;
    }
}