.dashboard-exam {
    width: auto;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .dashboard-exam {
        height: auto;
        padding: 20px;
    }
}