.dashboard-home {
    width: auto;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sections-home {
    width: 100%;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}

@media screen and (max-width: 767px) {
    .dashboard-home {
        height: auto;
        padding: 10px 10px;
    }

    .sections-home {
        flex-direction: column;
        row-gap: 10px;
    }
}