.menu-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.menu-button .menu-button-line {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #8a96ff;
  border-radius: 20px;
  overflow: visible;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: flex-end;
}

.menu-button .menu-button-line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #8a96ff;
  border-radius: 20px;
  top: -300%;
  transition: inherit;
}

.menu-button .menu-button-line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #8a96ff;
  border-radius: 20px;
  bottom: -300%;
  transition: inherit;
}

.menu-button.active .menu-button-line {
  background-color: transparent;
}

.menu-button.active .menu-button-line::before {
  top: 0;
  transform: rotate(-45deg);
  transition-delay: .3s;
}

.menu-button.active .menu-button-line::after {
  bottom: 0;
  transform: rotate(45deg);
  transition-delay: .3s;
}
