.button {
    width: fit-content;
    height: fit-content;
    padding: 10px 35px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    border-radius: 70px;
    text-decoration: none;
    color: #404462;
    font-size: 25px;
    font-family: 'Poppins';
    transition: .3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.button .button-image {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .button {
        font-size: 15px;
        padding: 10px 25px;
    }
    .button .button-image {
        height: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .button {
        font-size: 25px;
        padding: 10px 25px;
    }
    .button .button-image {
        height: 40px;
    }
}