.dashboard {
    background-color: #8A96FF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

@media (max-width: 600px) {
    .dashboard {
        height: auto;
    }
}